---
# defaults file for vsphere-csi-driver
#
vsphere_namespace: vsphere
vsphere_username: "<username>"
vsphere_password: "<password>"
vsphere_secret_name: "vsphere-creds"
vsphere_cluster_id: "cluster01"


# List of all the images used by the vsphere cpi/csi storage driver.
# Moved it out of the teamplte to be able to upgrade them easily
# NOTE: The onus is on the end user to make sure the yaml files does not
# change over time. I would recommend period diffs with the upstream version
vsphere_container_images:
  cpi:
    manager: "gcr.io/cloud-provider-vsphere/cpi/release/manager:latest"
  csi:
    driver: "gcr.io/cloud-provider-vsphere/csi/release/driver:v1.0.2"
    syncer: "gcr.io/cloud-provider-vsphere/csi/release/syncer:v1.0.2"
    csi_attacher: "quay.io/k8scsi/csi-attacher:v1.1.1"
    livenessprobe: "quay.io/k8scsi/livenessprobe:v1.1.0"
    csi_provisioner: "quay.io/k8scsi/csi-provisioner:v1.2.2"
    csi_node_driver_registrar: "quay.io/k8scsi/csi-node-driver-registrar:v1.1.0"

# The settings defined in global conf will be inheritted by all vcenters unless
# ofcourse you override it.
vsphere_global_conf:
  port: "443"
  insecure-flag: "true"

vsphere_vcenters:
  - name: vcenter1.example.com # must be a reachable FQDN / use IP address
    datacenters:  # List of DCs in vcenter where OCP nodes may be running
      - DFW
      - SEA
    # remianing setting are inheritted from the vsphere_global_conf
  - name: vcenter2.example.com
    datacenters:
      - YUL
      - YYZ
      - YTZ
    port:  "443"                # override global port setting for this vcenter
    insecure-flag: "false"      # override global insecure flag
    user: "<username>"            # override global username for this vcenter
    password: "<password>"        # override global password for this vcenter
    # instead of user / password you could also override the secret-name
    # secret_name:

vsphere_cns_topology_aware: true

vsphere_zoning_labels:
  region: ocp-region
  zone: ocp-zone
