kind: ConfigMap
apiVersion: v1
metadata:
  name: ldap-group-sync
  namespace: openshift-cluster-ops
  labels:
    purpose: ldap-group-sync
data:
  ldap-group-sync.yaml: {{ lookup('template', 'ldap-sync-config.j2') | to_json }}
