kind: Secret
apiVersion: v1
type: Opaque
metadata:
  labels:
    purpose: ldap-group-sync
  name: ldap-bind-password
  namespace: openshift-cluster-ops
data:
  bind_password: "{{ ldap_bind_password | b64encode }}"
