apiVersion: v1
kind: Secret
metadata:
  name: {{ vsphere_global_conf["secret-name"] }}
  namespace: {{ vsphere_namespace }}
stringData:
{% for vcenter in vsphere_vcenters %}
  {{ vcenter.name }}.username: "{{ vcenter.user | default(vsphere_username) }}"
  {{ vcenter.name }}.password: "{{ vcenter.password | default(vsphere_password) }}"
{% endfor %}
