---
# tasks file for cluster-logging

# The steps here try to mirror the steps described in the documenation page
# https://docs.openshift.com/container-platform/4.3/logging/cluster-logging-deploying.html

- name: Create openshift-operators-redhat Namespace
  command: oc apply -f {{ role_path }}/files/eo-namespace.yaml
  register: reg_eo_namespace
  changed_when: reg_eo_namespace is not search(' unchanged')

- name: Create openshift-logging Namespace
  command: oc apply -f {{ role_path }}/files/clo-namespace.yaml
  register: reg_clo_namespace
  changed_when: reg_clo_namespace is not search(' unchanged')

- name: Create OperatorGroup openshift-operators-redhat
  command: oc apply -f {{ role_path }}/files/eo-og.yaml
  register: reg_eo_og
  changed_when: reg_eo_og is not search(' unchanged')

- name: Create OperatorGroup openshift-logging
  command: oc apply -f {{ role_path }}/files/clo-og.yaml
  register: reg_clo_og
  changed_when: reg_clo_og is not search(' unchanged')

- name: Create Subscription for elasticsearch-operator
  command: oc apply -f {{ role_path }}/files/eo-sub.yaml
  register: reg_eo_sub
  changed_when: reg_eo_sub is not search(' unchanged')

- name: Create necessary RBAC objects
  command: oc apply -f {{ role_path }}/files/eo-rbac.yaml
  register: reg_eo_rbac
  changed_when: reg_eo_rbac is not search(' unchanged')

- name: Create Subscription for clusterlogging-operator
  command: oc apply -f {{ role_path }}/files/clo-sub.yaml
  register: reg_clo_sub
  changed_when: reg_clo_sub is not search(' unchanged')

- name: Wait for clusterlogging-operator subscription to be installed
  k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: ClusterServiceVersion
    namespace: openshift-logging
  register: reg_csr_status
  vars:
    status_query: "resources[*].status.phase"
    update_status: "{{ reg_csr_status | json_query(status_query) | flatten | unique }}"
  until:
    - update_status == ['Succeeded']
  retries: 10 # wait for 10 minutes (10 retries x 60 sec = 600 sec)
  delay: 60
  # TODO: Refind the udpate_status condition we check. As of now it check to
  #       see if all the operators installed in the namespace have a status of
  #       Succeeded. Consider just checking the operator that we need installed

- name: Create ClusterLogging instance
  k8s:
    state: present
    definition: "{{ lookup('template', 'clusterlogging.yaml.j2') }}"
