apiVersion: v1
kind: Secret
metadata:
  name: csi-{{ vsphere_secret_name }}
  namespace: {{ vsphere_namespace }}
type: Opaque
data:
  csi-vsphere.conf: {{ lookup('template', 'csi/csi-vsphere.conf.j2') | b64encode }}
