---
# Source: splunk-connect-for-kubernetes/charts/splunk-kubernetes-logging/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: splunk-kubernetes-logging
  labels:
    app: splunk-kubernetes-logging
    chart: splunk-kubernetes-logging-{{ splunk_connect_version }}
    release: splunk-connect
    heritage: Helm
type: Opaque
data:
  splunk_hec_token: {{ splunk_logging_hec_token | b64encode }}
  hec_ca_file: {{ lookup('file', splunk_hec_ca_cert_file) | b64encode }}
