---
# Source: splunk-connect-for-kubernetes/charts/splunk-kubernetes-logging/templates/serviceAccount.yaml
apiVersion: v1

kind: ServiceAccount
metadata:
  name: splunk-connect-splunk-kubernetes-logging
  labels:
    app: splunk-kubernetes-logging
    chart: splunk-kubernetes-logging-{{ splunk_connect_version }}
    release: splunk-connect
    heritage: Helm
