---
# Source: splunk-connect-for-kubernetes/charts/splunk-kubernetes-objects/templates/clusterRole.yaml
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: splunk-connect-splunk-kubernetes-objects
  labels:
    app: splunk-kubernetes-objects
    chart: splunk-kubernetes-objects-{{ splunk_connect_version }}
    release: splunk-connect
    heritage: Helm
rules:
  - apiGroups: [""]
    resources:
    - pods
    - namespaces
    - nodes
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources:
    - events
    verbs: ["watch"]
