---
# Source: splunk-connect-for-kubernetes/charts/splunk-kubernetes-objects/templates/serviceAccount.yaml
apiVersion: v1

kind: ServiceAccount
metadata:
  name: splunk-connect-splunk-kubernetes-objects
  labels:
    app: splunk-kubernetes-objects
    chart: splunk-kubernetes-objects-{{ splunk_connect_version }}
    release: splunk-connect
    heritage: Helm
