apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ etcd_backup_pvc_claim }}
  namespace: {{ etcd_backup_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ etcd_backup_volume_size }}
