{
    "version": {{ ontap_version }},
    "storageDriverName": "{{ backend.storageDriverName }}",
    "backendName": "{{ backend.name }}",
    "managementLIF": "{{ backend.managementLIF }}",
    "dataLIF": "{{ backend.dataLIF}}",
    "svm": "{{ backend.ontap_svm }}",
    "username": "{{ ontap_username }}",
    "password": "{{ ontap_password }}"
}
